<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create New Product</title>
</head>
<body>

<form action="productCreate" method ="post">
   商品編號:<input type="text" name="productid"/><br/>
   類別:<input type="text" name = "category"/><br/>
   商品名:<input type="text" name ="productname"/><br/>
   描述:<input type="text" name="description"/><br/>
   銷量:<input type="text" name = "sales"/><br/>
   單價:<input type="text" name ="price"/><br/>   
   顏色:<input type="text" name="color"/><br/>
   庫存量:<input type="text" name = "stock"/><br/>
   備註:<input type="text" name ="remark"/><br/>   
   圖片路徑:<input type="text" name ="path"/><br/>   
      
 <input type="submit" value="Submit"/>

</form>
</body>
</html>